
<div class="container">
<div class="block-intro">
  <h1>The Josephus Problem</h1>
  <p id="p-intro">
    In  computer  science  and  mathematics,  the  Josephus
    problem  (or Josephus permutation)   is  a  theoretical
    problem related   to   a uncertain  counting-out  game.<br/><br/>

    People are standing in a circle waiting to be executed.
    Counting begins at a specified point in the circle  and
    proceeds around the circle in  a  specified  direction.
    After a specified number of people are skipped,the next
    person is executed. The procedure is repeated with  the
    remaining people, starting with the next person,  going
    in the same direction and skipping the  same  number of
    people, until only  one  person  remains, and is freed.<br/><br/>
    The problem — given  the  number  of  people,  starting
    point, direction, and number  to  be  skipped  —  is to
    choose    the    position   in   the   initial   circle
    to avoid execution.
  </p>
  <form (ngSubmit)="onSubmit()" #valueForm="ngForm">
      <div class="form-group">
        <label for="people">Number of People</label>
        <input type="text" class="form-control" id="people"
               required  [(ngModel)]="people"
                name="people"> <br/><br/>
        <label for="interval">Kill Interval</label>
        <input type="text" class="form-control" id="interval"
               required  [(ngModel)]="interval"
                name="interval">
      </div><br/><br/>
      <button type="submit" (click)="onSubmit()">Submit</button>
  </form>
  <h3 (click)="toggle()">Start</h3>
</div>
<div class="block-content circle-container" id="main">
    <div *ngFor="let element of circleArray; index as i;" [ngStyle]="styleArray[i]" [@openClose]="isOpen[i] ? 'open' : 'closed'">{{element.innerHTML}}</div>
</div>
</div>
