.circle {
	border-radius: 50%;
	background-color: white;
}

.results {
	text-align: center;
}

#main {
    height: 300px;
    width: 300px;
    position: absolute;
	margin-left: 10%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
	position: fixed;
}

button {
	background-color: white;
	border: 1px solid black;
	width: 100px;
	margin-bottom: 20px;

	&:hover {
		color: white;
		background-color: black;
		border: 1px solid white;
	}
}

input {
	width: 25px;
	margin-left: 5px;
}
